body {
  background-color: grey;
  background-image: url("bg.jpg");
}
h1 {
  color: white;
  font-family: Lucida Console;
  font-size: 300%;
  text-align: center;
  padding: 30px;
  background-color:black;
  margin:0 25% 0 25%;
  border-top-style: solid;
  border-right-style:solid;border-left-style: solid;
  border-color: white;

  background:rgba(0,0,0,.8)
}
h2 {
  color: white;
  font-family: Lucida Console;
  font-size: 200%;
  text-align:center;
  padding: 5px 30px 20px 30px;
  background-color:black;
  margin-top:0;
  margin-left:25%;
  margin-right: 25%;

    border-bottom-style: solid;
  border-right-style:solid;border-left-style: solid;
  border-color: white;

  background:rgba(0,0,0,.8)
}
p {
  color: white;
  font-family: Times New Roman;
  font-size: 100%;
}
ul {
  color: white;
  font-family: Times New Roman;
  font-size: 100%;
}

p.goodbye{
	color:red;
  font-family:Impact;
  text-align:center;
}

#sidenav {
  width: 10%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;

  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 5px 0px;
  margin-left: 14%;
  /*margin-top: 2.5%;*/
  background-color:black;
  border-style: solid;
  border-color: white;

  background:rgba(0,0,0,.8);
}
#sidenav a {
  padding: 15px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}
#sidenav_btn{
  width: 9.6%; /* Set the width of the sidebar */
  z-index: 0; /* Stay on top */
  left: 0;
  position: absolute;

  background-color: #111; /* Black */
  padding: 5px 0px;
  margin-left: 14%;
  background-color:black;

  border-style: solid;
  border-color:white;
}
/*COMMENT BOX*/
#HCB_comment_box{border:2px solid #fff;border-radius:5px;padding:10px;color:#fff;background:rgba(0,0,0,.8); margin-right:17%; margin-left: 17%;}
.hcb-mod b{color:#0088af}
#HCB_comment_box textarea,
#HCB_comment_box input.text{border-top:1px solid #e4e4e4;border-left:1px solid #e4e4e4;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea;background-color:#f8f8f8}
#HCB_comment_box .hcb-wrapper-half{display:block;width:50%;float:left}

#HCB_comment_box input.text{display:block;width:95%}
#HCB_comment_box input.submit{border-top:1px solid #fcb1a2;border-left:1px solid #fcb1a2;border-bottom:1px solid #bb2b0f;border-right:1px solid #bb2b0f;font-weight:700; cursor:pointer}
#HCB_comment_box div.comment{color:#fdb3a5;background:rgba(0,0,0,.5);border:3px double #f26646;margin:5px;padding:2px}
#HCB_comment_box .comment .likes{color:#0f0}
#HCB_comment_box .hcb-link{color:#0088af;text-decoration:none}
/*COMMENT BOX*/

.main{
	margin-right: 25%; /* Same as the width of the sidebar */
	margin-left: 25%;
	padding: 0px 10px;
	overflow-x:hidden;
	background-color:black;

	border-style: solid;
	border-color: white;
  
  background:rgba(0,0,0,.8);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-color:white;
}